#button-coral{
    background-color: $color__fuzzy_wuzzy;
    border:1px solid $color__fuzzy_wuzzy;
}

#button-whater-green{
    background-color:$color__button_whater_green;
    border-color: $color__button_whater_green;
}