nav{
  color:black!important;
}

.navbar-brand{
  font-family: $font-primary;
}

a.navbar-brand p{
  margin: 0;
  color: black!important;
}

li.nav-item{
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 576px) {  

}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 

 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
  .navbar-expand-lg .navbar-toggler{
    display: initial!important;
  }
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    li.nav-item.nav__item__none{
      display: initial;
    }
  }